/*---------------------------------------- 
                  COLORS
-----------------------------------------*/

$text-color: #777;
$medium-turquoise: #58e1c1;
$sky-blue: #51ddfc;
$white: #fff;
$emerald: #63cc82;
$candy-pink: #e4757a;
$warning-red: #fd7856;

/*--------------------------------------
           MEDIA QUERIES
---------------------------------------*/

$breakpoints: (
  "sm": 375px,
  "mid": 768px,
  "l": 1024px,
);
