/*---------------------------------------- 
                  COLORS
-----------------------------------------*/

$primary-color: #777;
$medium-turquoise: #58e1c1;
$sky-blue: #51ddfc;
$white: #fff;
$emerald: #63cc82;
$candy-pink: #e4757a;
$warning-red: #fd7856;

$color-btn-def: #51ddfc;
$color-btn-err: #e4757a;
$color-btn-info: #927bc1;
$color-btn-succ: #63cc82;
$color-btn-warn: #fd7856;

/*--------------------------------------
           MEDIA QUERIES
---------------------------------------*/

$break-m: 768px;
