@use "../utilities/variables" as variables;
@use "../utilities/mixins" as mixin;

.btn {
  margin-top: 15px;
  width: 100%;
  color: variables.$white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;

  @include mixin.mq {
    padding: 10px 30px;

    & + .btn {
      margin-left: 10px;
    }
  }

  &.default {
    background-color: variables.$sky-blue;
  }

  &.error {
    background-color: #e4757a;
    @include mixin.bg-color(variables.$color-btn-err);
  }

  &.info {
    background-color: #927bc1;
  }

  &.success {
    background-color: #63cc82;
  }

  &.warning {
    background-color: #fd7856;
  }
}
